/* Fondos (background) 

background es un shorthand

background: red;
background-color: red;

*/

*, *:before, *:after {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #eee;
    /* background-image: url(EDteam-logo.png); */
    /* background-repeat: no-repeat; */
}

/* background-size background-position */

body {
    /* background-size: contain | cover; */
    /* background-image: url(https://images.unsplash.com/photo-1593642702821-c8da6771f0c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80); */
    /* background-size: 300px; */
    /* background-position: left center right | top center bottom; */
    /* background-position: right 20px bottom 20px; */
}

/* background-clip background-origin */

/* .box {
    width: 600px;
    height: 400px;
    background-image: url(https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    background-size: cover;
    margin: 100px auto;
    border: 24px solid;
    border-color: rgb(12, 7, 7) rgb(73, 36, 36);
    background-clip: content-box;
    padding: 50px;
    box-shadow: 0 10px 30px 0 rgb(95, 95, 95);
    background-origin: content-box;
    background-attachment: fixed;
} */

/* background attachment */

/* .box {
    width: 600px;
    height: 400px;
    background-image: url(paisaje.jpg);
    margin: 600px auto;
    background-attachment: fixed;
    background-size: 1500px;
}

body {
    background-image: url(paisaje-blur.jpg);
    background-attachment: fixed;
    background-size: 1500px;
} */

/* body {
    background-image: url(playa.jpg), url(carretera.jpg), url(faro.jpg);
    background-color: yellow;
    background-size: 20%;
    background-position: 0 0, center center, right bottom;
    background-repeat: no-repeat;
} */

/* shorthand background 

background: image position / size repeat attachment origin clip;

*/

body {
    background: url(playa.jpg) 0 0, url(carretera.jpg) center center, url(faro.jpg) right bottom, yellow;
    background-repeat: no-repeat;
    background-size: 20%;
}